[submodule "ananace"]
	path = ananace
	url = https://gitlab.com/ananace/charts/
[submodule "matrix-hookshot"]
	path = matrix-hookshot
	url = https://github.com/matrix-org/matrix-hookshot
[submodule "mautrix-telegram"]
	path = mautrix-telegram
	url = https://github.com/halkeye-helm-charts/mautrix-telegram/
