kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name:  hookshot-e2e-keys-claim
  namespace: openearth  # Change openearth to namespace where hookshot is installed 

spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Mi # Change storage size to match your needs
  storageClassName: longhorn

      
